.cover-image-div {
  position: absolute;
}
.cover-image-div img {
  --dark-overlay: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
  height: 40rem;
  width: 100vw;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: var(--dark-overlay), var(--photo-url);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10rem), 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10rem), 0 100%);
}
