header {
  box-shadow: 0 4px 6px rgb(38 50 56 / 10%);
  z-index: 9999;
  transition: 0.2s all;
}

header .name-sm {
  font-size: clamp(1.6em, 2.4vw, 2.4em);
  font-weight: 400;
  color: rgba(var(--headerColor), 0.9);
}

.header-links a {
  margin: 10px;
  padding: 6px 10px;
  color: rgba(var(--headerColor), 0.9);
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s border;
  border: 1px solid transparent;
  border-radius: 6px;
  font-weight: 600;
}

.header-links a:hover {
  border-color: rgba(var(--headerColor), 0.5);
  color: rgba(var(--headerColor), 0.9);
}

.header-links a.active {
  border-color: rgba(var(--headerColor), 1);
}
