header {
  box-shadow: 0 4px 6px rgb(38 50 56 / 10%);
  z-index: 9999;
  background: var(--primary-color);
}

header .name-sm {
  font-size: clamp(1.2em, 2vw, 2em);
  font-weight: 400;
  color: #2bff00;
  animation: color-rotate 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
    opacity: 0;
  }
  to {
    filter: hue-rotate(360deg);
    opacity: 1;
  }
}
