.custom-link {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  opacity: 0.9;
  text-transform: uppercase;
  line-height: 1;
  font-size: 11px;
  cursor: pointer;
  border-radius: 1000px;
  font-weight: 600;
}

.custom-link:hover {
  color: white !important;
  background-color: var(--bg);
  opacity: 1;
}
