.custom-button {
  border: 1px solid #d4d3d3;
  text-align: center;
  padding: 10px 20px;
  position: relative;
  margin: 20px;
  cursor: pointer;
  text-transform: uppercase;
  color: #e29d26;
  letter-spacing: 2px;
  font-size: 12px;
  transition: 0.3s all;
}

.custom-button:hover {
  color: #5a5a5a;
}

.custom-button .line {
  background-color: #5a5a5a;
  position: absolute;
  transition: 0.3s all;
}

/* Left & right lines */
.custom-button .left,
.custom-button .right {
  width: 1px;
  height: 0;
}

.custom-button .left {
  bottom: 0;
  left: -1px;
}

.custom-button:hover .left {
  height: 100%;
}

.custom-button .right {
  top: 0;
  right: -1px;
}

.custom-button:hover .right {
  height: 100%;
}
.custom-button .top,
.custom-button .bottom {
  width: 0;
  height: 1px;
}

.custom-button .top {
  left: 0;
  top: -1px;
}

.custom-button:hover .top {
  width: 100%;
}

.custom-button .bottom {
  right: 0;
  bottom: -1px;
}

.custom-button:hover .bottom {
  width: 100%;
}
