* {
  margin: 0;
}

.d-flex {
  display: flex !important;
}

.f-column {
  flex-direction: column !important;
}

.jusc-between {
  justify-content: space-between !important;
}

.jusc-around {
  justify-content: space-around !important;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}
