footer {
  background: var(--primary-color);
  min-height: 34vh;
}

footer * {
  color: hsl(0, 0%, 100%, 0.7) !important;
}

.contact-details {
  opacity: 0.8;
}

.special-link {
  border-bottom: 1px dotted hsl(0, 0%, 100%, 0.7);
  padding: 0;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.7;
  transition: 0.3s opacity;
}

.special-link:hover {
  opacity: 1;
}
