body {
  margin: 0;
  font-family: "Playfair Display", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app {
  padding-top: 70px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

/* fonts */
.font-playfair {
  font-family: "Playfair Display", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.font-sans-pro {
  font-family: "Source Sans Pro", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.font-lato {
  font-family: "Lato", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

html,
a,
button,
input,
select,
textarea {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none !important;
}

/* custom classes */

.b-shadow {
  box-shadow: 0 2px 7px -1px rgb(38 50 56 / 10%);
}

.flex-gap {
  gap: 12px;
}

:root {
  --primary-color: #1f2937;
}
